div.title-box
    img(src="logo.png")
    div
        h1 Web YouTube Downloader
        nav
            a(href="/") Startpage
            a(href="/about") About
            a(href="https://github.com/Feuerhamster/web-youtube-downloader/" target="_blank" rel="noopener") GitHub