extends _layout

block content
    h1 About
    h2 Disclaimer
    p This Website is not a part of YouTube or Google.

    h2 Where do we have the data of the youtube videos?
    p We use the official data from the youtube.com website. All URLs and metadata come from the respective page of the corresponding Youtube video.

    h2 Is the downloading of youtube videos lawful?
    p Everyone is allowed to download public Youtube videos for private use.

    h2 Does this website violate laws and regulations such as once "convert2mp3"?
    p
        | No. On "convert2mp3" the videos were converted on the servers of the provider and made available for download.
        | On our website, you download the videos directly from the sources on the google server.