extends _layout

block content
    div.center
        h1 Download YouTube videos from source!
        h2 All Video and Audio Tracks + Thumbnails

        form
            input(type="url" placeholder="Paste a YouTube video url" name="url")
            button Fetch